<link rel="stylesheet" href="css/chat_box.css">
<% if(locals.user){ %>
    <div id="user-chat-box">
        <ul id="chat-massages-list">
            <li class="other-message">
                <span>Other message</span>
            </li>
            <li class="self-message">
                <span>Self-message</span>
            </li>
        </ul>
        <div id="chat-message-input-container">
            <input id="chat-message-input" placeholder="Type massage here">
            <button id="send-message">Send</button>
        </div>
    </div>
<% } %>