#home-container{
    display: flex;
    #feed-posts{
        margin-left: 30%;
        border-left: 1px solid lightgrey;
        width: 70%;
        padding: 10px;
    #post-container{
        ul{
            list-style-type: none;
            #usernames{
                a{
                    text-decoration: solid;
                    margin: 10px;
                }
            }
            .contact{
                .details{
                    p{
                        display: inline;
                        margin: 10px;
                       // margin-left: 25px;
                    }
                    .delete-button{
                        display: inline;
                    }
                }
            }
        }
        
    }
}
    #user_friends{
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgrey;
   // height: 100%;
}
}